services:
  tagme-front-bank:
    build:
      context: .
      dockerfile: bank-front.Dockerfile
      args:
        GIT_BRANCH: ${GIT_BRANCH}
        BUILD_ENV: ${BUILD_ENV}
    container_name: front-bank-tagme
    environment:
      VIRTUAL_HOST: tagme-bank.${VIRTUAL_HOST_CLIENT}
    networks:
      - proxy_red

  tagme-front-admin:
    build:
      context: .
      dockerfile: adm-front.Dockerfile
      args:
        GIT_BRANCH: ${GIT_BRANCH}
        BUILD_ENV: ${BUILD_ENV}
    container_name: front-admin-tagme
    environment:
      VIRTUAL_HOST: tagme-admin.${VIRTUAL_HOST_CLIENT}
    networks:
      - proxy_red

  tagme-front-client:
    build:
      context: .
      dockerfile: client-front.Dockerfile
      args:
        GIT_BRANCH: ${GIT_BRANCH}
        BUILD_ENV: ${BUILD_ENV}
    container_name: front-client-tagme
    environment:
      VIRTUAL_HOST: tagme-client.${VIRTUAL_HOST_CLIENT}
    networks:
      - proxy_red

  tagme-back-bank:
    build:
      context: .
      dockerfile: bank-back.Dockerfile
      args:
          GIT_BRANCH: ${GIT_BRANCH}
    container_name: tagme-back-bank
    environment:
      VIRTUAL_HOST: tagme-bank-back.${VIRTUAL_HOST_CLIENT}
      SPRING_PROFILES_ACTIVE: ${BUILD_ENV}
    depends_on:
      tagme-mariadb-bank:
        condition: service_healthy
    networks:
      - proxy_red

  tagme-back-store:
    build:
      context: .
      dockerfile: store-back.Dockerfile
      args:
          GIT_BRANCH: ${GIT_BRANCH}
    container_name: back-store-tagme
    environment:
      VIRTUAL_HOST: tagme-store-back.${VIRTUAL_HOST_CLIENT}
      SPRING_PROFILES_ACTIVE: ${BUILD_ENV}
    depends_on:
      tagme-mariadb-store:
        condition: service_healthy
    networks:
      - proxy_red

  tagme-mariadb-bank:
    image: mariadb:latest
    container_name: tagme-mariadb-bank
    environment:
      MYSQL_ROOT_PASSWORD: tagme-bank
      MYSQL_DATABASE: db_tagme_bank
      MYSQL_USER: tagme-bank
      MYSQL_PASSWORD: tagme-bank
    volumes:
      - /srv/docker/mariadb/bank:/var/lib/mysql
    networks:
      - proxy_red
    healthcheck:
      test: ["CMD-SHELL", "mariadb -u tagme-bank -ptagme-bank -e 'SELECT 1'"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  tagme-mariadb-store:
    image: mariadb:latest
    container_name: tagme-mariadb-store
    environment:
      MYSQL_ROOT_PASSWORD: tagme-store
      MYSQL_DATABASE: db_tagme_store
      MYSQL_USER: tagme-store
      MYSQL_PASSWORD: tagme-store
    volumes:
      - /srv/docker/mariadb/store:/var/lib/mysql
    networks:
      - proxy_red
    healthcheck:
      test: ["CMD-SHELL", "mariadb -u tagme-store -ptagme-store -e 'SELECT 1'"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

networks:
  proxy_red:
    name: nginx-proxy-network
    external: true

