services:
  front-bank:
    build:
      context: .
      dockerfile: bank-front.Dockerfile
      args:
        BUILD_ENV: ${BUILD_ENV}
    container_name: front-bank-tagme
    environment:
      VIRTUAL_HOST: tagme-bank.${BUILD_ENV}ucciondaw.cip.fpmislata.com
    networks:
      - proxy_red

  front-adm:
    build:
      context: .
      dockerfile: adm-front.Dockerfile
      args:
        BUILD_ENV: ${BUILD_ENV}
    container_name: front-adm-tagme
    environment:
      VIRTUAL_HOST: tagme-admin.${BUILD_ENV}ucciondaw.cip.fpmislata.com
    networks:
      - proxy_red

  front-client:
    build:
      context: .
      dockerfile: client-front.Dockerfile
      args:
          BUILD_ENV: ${BUILD_ENV}
    container_name: front-client-tagme
    environment:
      VIRTUAL_HOST: tagme-client.${VIRTUAL_HOST_CLIENT}
    networks:
      - proxy_red

  back-bank:
    build:
      context: .
      dockerfile: bank-back.Dockerfile
    container_name: back-bank-tagme
    environment:
      VIRTUAL_HOST: tagme-bank-back.${VIRTUAL_HOST_CLIENT}
      SPRING_PROFILES_ACTIVE: pre
    depends_on:
      mariadb-bank:
        condition: service_healthy
    networks:
      - proxy_red

  back-store:
    build:
      context: .
      dockerfile: store-back.Dockerfile
    container_name: back-store-tagme
    environment:
      VIRTUAL_HOST: tagme-store-back.${VIRTUAL_HOST_CLIENT}
      SPRING_PROFILES_ACTIVE: pre
    depends_on:
      mariadb-store:
        condition: service_healthy
    networks:
      - proxy_red

  mariadb-bank:
    image: mariadb:latest
    container_name: mariadb-tagme-bank
    environment:
      MYSQL_ROOT_PASSWORD: tagme-bank
      MYSQL_DATABASE: db_tagme_bank
      MYSQL_USER: tagme-bank
      MYSQL_PASSWORD: tagme-bank
    volumes:
      - /srv/docker/mariadb/bank:/var/lib/mysql
    networks:
      - proxy_red
    healthcheck:
      test: ["CMD-SHELL", "mariadb -u tagme-bank -ptagme-bank -e 'SELECT 1'"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  mariadb-store:
    image: mariadb:latest
    container_name: mariadb-tagme-store
    environment:
      MYSQL_ROOT_PASSWORD: tagme-store
      MYSQL_DATABASE: db_tagme_store
      MYSQL_USER: tagme-store
      MYSQL_PASSWORD: tagme-store
    volumes:
      - /srv/docker/mariadb/store:/var/lib/mysql
    networks:
      - proxy_red
    healthcheck:
      test: ["CMD-SHELL", "mariadb -u tagme-store -ptagme-store -e 'SELECT 1'"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

networks:
  proxy_red:
    name: nginx-proxy-network
    external: true

